<form [formGroup]="formFilter" (ngSubmit)="getWorkouts()">
  <div class="row g-3 align-items-center">
    <div class="col-auto">
      <label> From:</label>
    </div>
    <div class="col-auto">
      <input type="date"
             class="form-control"
             name="dateStart"
             formControlName="dateStart"
             (change)="getWorkouts()"
      />
    </div>
    <div class="col-auto">
      <label> To:</label>
    </div>
    <div class="col-auto">
      <input type="date"
             class="form-control"
             name="dateEnd"
             formControlName="dateEnd"
             (change)="getWorkouts()"
      />
    </div>
  </div>
</form>


<table mat-table [dataSource]="listWorkout" class="w-100">
  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef>Date</th>
    <td mat-cell *matCellDef="let element"> {{element.date}} </td>
  </ng-container>

  <ng-container matColumnDef="timeStart">
    <th mat-header-cell *matHeaderCellDef>Time Start</th>
    <td mat-cell *matCellDef="let element"> {{element.timeStart}} </td>
  </ng-container>

  <ng-container matColumnDef="trainer">
    <th mat-header-cell *matHeaderCellDef>Trainer</th>
    <td mat-cell *matCellDef="let element"> {{element.trainer}} </td>
  </ng-container>

  <ng-container matColumnDef="duration">
    <th mat-header-cell *matHeaderCellDef>Duration</th>
    <td mat-cell *matCellDef="let element"> {{element.duration}} </td>
  </ng-container>

  <ng-container matColumnDef="typeWorkout">
    <th mat-header-cell *matHeaderCellDef>Type</th>
    <td mat-cell *matCellDef="let element"> {{ element.typeWorkout }} </td>
  </ng-container>

  <ng-container matColumnDef="availableSeats">
    <th mat-header-cell *matHeaderCellDef>Available Seats</th>
    <td mat-cell *matCellDef="let element"> {{ element.availableSeats }} </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Actions</th>
    <td mat-cell *matCellDef="let element">

    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
