<form [formGroup]="formFilter" (ngSubmit)="getWorkouts()">
  <div class="row g-3 align-items-center">
    <div class="col-auto">
      <label> From:</label>
    </div>
    <div class="col-auto">
      <input type="date"
             class="form-control"
             name="dateStart"
             formControlName="dateStart"
             (change)="getWorkouts()"
      />
    </div>
    <div class="col-auto">
      <label> To:</label>
    </div>
    <div class="col-auto">
      <input type="date"
             class="form-control"
             name="dateEnd"
             formControlName="dateEnd"
             (change)="getWorkouts()"
      />
    </div>
  </div>
</form>


<table mat-table [dataSource]="listWorkout" class="w-100">
  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef>Date</th>
    <td mat-cell *matCellDef="let element"> {{element.date}} </td>
  </ng-container>

  <ng-container matColumnDef="timeStart">
    <th mat-header-cell *matHeaderCellDef>Time Start</th>
    <td mat-cell *matCellDef="let element"> {{element.timeStart}} </td>
  </ng-container>

  <ng-container matColumnDef="trainer">
    <th mat-header-cell *matHeaderCellDef>Trainer</th>
    <td mat-cell *matCellDef="let element"> {{element.trainer}} </td>
  </ng-container>

  <ng-container matColumnDef="duration">
    <th mat-header-cell *matHeaderCellDef>Duration</th>
    <td mat-cell *matCellDef="let element"> {{element.duration}} </td>
  </ng-container>

  <ng-container matColumnDef="typeWorkout">
    <th mat-header-cell *matHeaderCellDef>Type</th>
    <td mat-cell *matCellDef="let element"> {{ element.typeWorkout }} </td>
  </ng-container>

  <ng-container matColumnDef="availableSeats">
    <th mat-header-cell *matHeaderCellDef>Available Seats</th>
    <td mat-cell *matCellDef="let element"> {{ element.availableSeats }} </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Actions</th>
    <td mat-cell *matCellDef="let element">
      <button routerLink="{{ element.id}}/detail" class="btn" data-bs-toggle="tooltip" data-bs-placement="bottom"
              title="View Clients">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-people" viewBox="0 0 16 16">
          <path d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1h8zm-7.978-1A.261.261 0 0 1 7 12.996c.001-.264.167-1.03.76-1.72C8.312 10.629 9.282 10 11 10c1.717 0 2.687.63 3.24 1.276.593.69.758 1.457.76 1.72l-.008.002a.274.274 0 0 1-.014.002H7.022zM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0zM6.936 9.28a5.88 5.88 0 0 0-1.23-.247A7.35 7.35 0 0 0 5 9c-4 0-5 3-5 4 0 .667.333 1 1 1h4.216A2.238 2.238 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816zM4.92 10A5.493 5.493 0 0 0 4 13H1c0-.26.164-1.03.76-1.724.545-.636 1.492-1.256 3.16-1.275zM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0zm3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4z"/>
        </svg>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
