<div class="row col-sm-6" style="max-width:350px;">
  <form [formGroup]="formLogin" (ngSubmit)="submit()">
    <div class="mb-3">
      <input type="text"
             class="form-control"
             name="username"
             formControlName="username"
             placeholder="username"
             required
      />
      <div *ngIf="username.invalid && username.touched" class="alert alert-danger">
        <div *ngIf="username.errors?.required">Username is required</div>
        <div *ngIf="username.errors?.minlength">Username must be at least 4 characters</div>
      </div>
    </div>
    <div class="mb-3">
      <input
        type="password"
        class="form-control"
        formControlName="password"
        placeholder="password"
        required
      />
      <div *ngIf="password.invalid  && password.touched" class="alert alert-danger">
        <div *ngIf="password.errors?.required">Password is required</div>
        <div *ngIf="password.errors?.minlength">Password must be at least 6 characters</div>
      </div>
    </div>
    <div class="mb-3">
      <button class="btn btn-primary" type="submit">Sign In</button>
      <div *ngIf="isLoginFailed" class="alert alert-danger">
        Login failed: {{ errorMessage$ | async }}
      </div>
    </div>
  </form>
  <hr/>
  <p>Don't have an account?</p>
  <a routerLink="/auth/signup" class="btn btn-success">Sign Up</a>
  <a href="{{ authService.loginWithGoogleUrl }}" class="btn btn-danger mt-3">Log In With Google</a>
</div>
